#

In [32]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [33]:
data = pd.read_csv('C:\\Users\HP\\Downloads\\Dataset\\Train_data.csv')
data

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [34]:
# Handle missing values
data['education'].fillna("Unknown", inplace=True)

In [35]:
# Encode categorical variables
label_encoders = {}
categorical_cols = ['department', 'region', 'education', 'gender', 'recruitment_channel']
for col in categorical_cols:
    label_encoders[col] = LabelEncoder()
    data[col] = label_encoders[col].fit_transform(data[col])

In [36]:
# Split the dataset into features (X) and the target variable (y)
X = data.drop(['employee_id', 'is_promoted'], axis=1)
y = data['is_promoted']

In [37]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
scalers = {
    'StandardScaler': StandardScaler(),
    'MinMaxScaler': MinMaxScaler()
}

In [71]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.pipeline import Pipeline

In [40]:
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

In [45]:
results = []

for scaler_name, scaler in scalers.items():
    for model_name, model in models.items():
        # Create a pipeline for scaling and model
        model_pipeline = Pipeline([
            ('scaler', scaler),
            ('model', model)
        ])

In [47]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [50]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [65]:
# Create a pipeline for scaling and model
model_pipeline = Pipeline([
    ('scaler', scaler),
    ('model', model)
])

In [75]:
X_train.fillna(X_train.mean(), inplace=True)

In [76]:
model_pipeline.fit(X_train, y_train)

Pipeline(steps=[('scaler', MinMaxScaler()),
                ('model', RandomForestClassifier())])

In [94]:
cm = confusion_matrix(y_test, y_pred)

In [95]:
# Predict on the test data
y_pred = model_pipeline.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Calculate and display the confusion matrix
cm = confusion_matrix(y_test, y_pred)

In [98]:
# Calculate and display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
print(f"Scaling: {scaler_name}, Model: {model_name}")
print(f"Confusion Matrix:\n{cm}")
print(f"Accuracy: {accuracy}\n")

results.append({
    'Scaling Technique': scaler_name,
    'Model': model_name,
    'Accuracy': accuracy
})

Scaling: MinMaxScaler, Model: Random Forest
Confusion Matrix:
[[9989   65]
 [ 650  258]]
Accuracy: 0.9347746761539865

In [99]:
# Find the best combination of scaling technique and model
best_result = max(results, key=lambda x: x['Accuracy'])
print("Best Combination:")
print(best_result)

Best Combination:
{'Scaling Technique': 'MinMaxScaler', 'Model': 'Random Forest', 'Accuracy': 0.9347746761539865}